<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <div class="container" style="margin-top: 75%;">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 style="margin-left: 10%">Editar Cliente</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" style="width: 75%; margin-left: 15%">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="client.name">
                            <BR>
                            <label>Nombre del contacto</label>
                            <input type="text" class="form-control" id="contactName"  [(ngModel)]="client.contactName">
                        </div>
                        <a type="submit" class="btn btn-ttc" style="margin-left: 40%" (click)="updateClient()" href="app-client">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>