
    <div class="row">
        <div class="col-sm-2">
            <div class="container" style="margin-top: 75%;">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Ingresar Unidad de Medida</h3>
                        </div>
                        <div class="panel-body">
                            <h4 style="color: black; margin-left: -54%">Nombre:</h4>
                            <div class="form-group" style="width: 75%; margin-left: 15%">
                                <input type="text" class="form-control" id="name" placeholder="Nombre" required
                                    [(ngModel)]="measurementUnit.name" name=measurementUnit>
                            </div>
                            <a type="submit" class="btn btn-ttc" (click)="createMeasurementUnit()">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Unidades de Medida</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover" style="color: rgb(14, 14, 14); ">
                                <thead class="thead">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                        </tr>
                                        </thead>
                                <tbody class="tbody">
                                    <tr *ngFor="let measurementUnit of measurementUnits">
                                        <td>{{measurementUnit.name}}</td>
                                        <td><a href="/app-update-measurement-unit" type="submit"  class="btn btn-ttc" (click)="update()" ><img src="assets/editar.png" style="width: 30px;"></a></td>
                                        <td><a href="/app-insert-inventory-category" type="submit"  class="btn btn-ttc" (click)="delete()"><img src="assets/basura.png" style="width: 30px;"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
