<div class="panel panel-default text-center">
    <div class="panel-heading">
        <h3>Ingresar categoría</h3>
    </div>
    <div class="panel-body">
        <h4 style="color: black; margin-left: -54%">Nombre:</h4>
        <div class="form-group" style="width: 75%; margin-left: 15%">
            <input type="inventoryCategoryName" required class="form-control" id="name" placeholder="Nombre" [(ngModel)]="inventoryCategory.name"
                name="name">
        </div>
        <a href="/app-inventory-category" type="submit" class="btn btn-ttc" (click)="insert()">Ingresar</a>
    </div>
</div>