

                  <div class="container">
                        <ul id="accordion" class="accordion">
                              <li>
                                    <div class="link"></div>
                              </li>
                              <li>
                                    <div class="link">
                                          <i class="fa fa-paint-brush"></i>Usuarios
                                          <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <ul class="submenu">
                                          <li>
                                                <a href="/app-insert-measurement-unit">Ingresar un usuario nuevo</a>
                                          </li>
                                          <li>
                                                <a href="#">Buscar un usuario</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver todos los usuarios</a>
                                          </li>
                                          <li>
                                                <a href="#">Ingresar rol de usuario nuevo</a>
                                          </li>
                                          <li>
                                                <a href="#">Buscar un rol</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver todos los roles</a>
                                          </li>
                                    </ul>
                              </li>
                              <li>
                                    <div class="link">
                                          <i class="fa fa-mobile"></i>Clientes
                                          <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <ul class="submenu">
                                          <li>
                                                <a href="/app-client">Ingresar un nuevo cliente</a>
                                          </li>
                                          <li>
                                                <a href="#">Buscar un cliente</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver todos lo clientes</a>
                                          </li>
                                          <li>
                                                <a href="#">Buscar un grupo de clientes</a>
                                          </li>
                                    </ul>
                              </li>
                              <li>
                                    <div class="link">
                                          <i class="fa fa-globe"></i>Orden de trabajo
                                          <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <ul class="submenu">
                                          <li>
                                                <a href="#">Crear listas de materiales, herramientas o equipo</a>
                                          </li>
                                          <li>
                                                <a href="#">Buscar una lista</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver todas las listas</a>
                                          </li>
                                    </ul>
                              </li>
                              <li>
                                    <div class="link">
                                          <i class="fa fa-globe"></i>Inventario
                                          <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <ul class="submenu">
                                          <li>
                                                <a href="#">Ingresar categorías</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver categorías</a>
                                          </li>
                                          <li>
                                                <a href="#">Ingresar unidades de medida</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver unidades de medida</a>
                                          </li>
                                          <li>
                                                <a href="#">Ingresar modelo y marca del equipo</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver modelo y marca del equipo</a>
                                          </li>
                                          <li>
                                                <a href="#">Ingresar material</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver el material</a>
                                          </li>
                                          <li>
                                                <a href="/app-insert-device">Ingresar equipo</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver equipo</a>
                                          </li>
                                          <li>
                                                <a href="#">Ingresar herramientas</a>
                                          </li>
                                          <li>
                                                <a href="#">Ver herramientas</a>
                                          </li>
                                    </ul>
                              </li>
                              <li>
                                    <div class="link">
                                          <i class="fa fa-globe"></i>Reportes
                                          <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <ul class="submenu">
                                          <li>
                                                <a href="#">Ordenes de trabajo según su tipo y fecha</a>
                                          </li>
                                          <li>
                                                <a href="#">Orden de trabajo de un cliente y una fecha en específico</a>
                                          </li>
                                          <li>
                                                <a href="#">Consumo de materiales y equipo durante un mes establecido</a>
                                          </li>
                                          <li>
                                                <a href="#">Inventario agotado</a>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                  </div>
