<div class="container" id="menu">
      <ul id="accordion" class="accordion">
            <li>
                  <div class="link"></div>
            </li>
            <li>
                  <div class="link">
                        <i class="far fa-address-card"></i>Empleados
                        <i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                        <li>
                              <a href="">Ingresar un empleado nuevo</a>
                        </li>
                        <li>
                              <a>Buscar un empleado</a>
                        </li>
                        <li>
                              <a href="#">Ver todos los empleados</a>
                        </li>
                        <li>
                              <a href="#">Ingresar rol nuevo</a>
                        </li>
                        <li>
                              <a href="#">Ver todos los roles</a>
                        </li>
                  </ul>
            </li>
            <li>
                  <div class="link">
                        <i class="fas fa-address-book"></i>Clientes
                        <i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                        <li>
                              <a href="/app-insert-client">Ingresar un nuevo cliente</a>
                        </li>
                        <li>
                              <a href="/app-client">Buscar un cliente</a>
                        </li>
                        <li>
                              <a href="#">Ver todos lo clientes</a>
                        </li>
                        <li>
                              <a href="#">Craer un grupo de clientes</a>
                        </li>
                        <li>
                              <a href="#">Buscar un grupo de clientes</a>
                        </li>
                  </ul>
            </li>
            <li>
                  <div class="link">
                        <i class="far fa-clipboard"></i>Orden de trabajo
                        <i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                        <li>
                              <a href="#">Crear listas de materiales, herramientas o equipo</a>
                        </li>
                        <li>
                              <a href="app-insert-work-order">Insertar una orden de trabajo</a>
                        </li>
                        <li>
                              <a href="app-work-order">Buscar una lista</a>
                        </li>
                        <li>
                              <a href="app-work-order">Ver todas las listas</a>
                        </li>
                  </ul>
            </li>
            <li>
                  <div class="link">
                        <i class="fas fa-clipboard-list"></i>Inventario
                        <i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                        <li>
                              <a href="/app-inventory-category">Categorías</a>
                        </li>
                        <li>
                              <a href="/app-measurement-unit">Unidades de medida</a>
                        </li>
                        <li>
                              <a href="/app-model-brand">Modelo y marca</a>
                        </li>
                        <li>
                              <a href="#">Ingresar material</a>
                        </li>
                        <li>
                              <a href="#">Ver el material</a>
                        </li>
                        <li>
                              <a href="/app-insert-device">Ingresar equipo</a>
                        </li>
                        <li>
                              <a href="app-device">Ver equipo</a>
                        </li>
                        <li>
                              <a href="#">Ingresar herramientas</a>
                        </li>
                        <li>
                              <a href="#">Ver herramientas</a>
                        </li>
                  </ul>
            </li>
            <li>
                  <div class="link">
                        <i class="far fa-chart-bar"></i>Reportes
                        <i class="fa fa-chevron-down"></i>
                  </div>
                  <ul class="submenu">
                        <li>
                              <a href="#">Ordenes de trabajo según su tipo y fecha</a>
                        </li>
                        <li>
                              <a href="#">Orden de trabajo de un cliente y una fecha en específico</a>
                        </li>
                        <li>
                              <a href="#">Consumo de materiales y equipo durante un mes establecido</a>
                        </li>
                        <li>
                              <a href="#">Inventario agotado</a>
                        </li>
                  </ul>
            </li>
      </ul>
</div>