/* CSS del menú*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
	list-style-type: none;
}

a {
	color: #96C322;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #96C322;
 	font-size: 16px;
 }


.container{
  width: 100%; 
  height: 1000px; 
  background-color: #4D4D4D; 
  margin-left: -5%
}

 .accordion {
	 width: 100%;
	 
 	background: #4D4D4D;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
	 border-radius: 4px;
	
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}



.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #4D4D4D;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #96C322;
}

.accordion li.open i {
	color: #96C322;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #4D4D4D;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4D4D4D;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #96C322;
 	color: #FFF;
 }


/*CSS del formulario */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
 background-color: #1692B8!important;
 color: snow;

}

 body {
    
    line-height: 1.8;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: 120%;
        }

        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-2 {
            background-color: rgb(70, 64, 64);
            /* Dark Blue */
            color: #ffffff;
          
        }

        .panel {
            border: 1px solid #1692B8;
            border-radius: 0 !important;
            transition: box-shadow 0.5s;
            
        }

        .panel:hover {
            box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
        }

        .panel-footer .btn:hover {
            border: 1px solid #1692B8;
            background-color: #fff !important;
            color: #1692B8;
        }

        .panel-heading {
            color: #fff !important;
            background-color: #1692B8 !important;
            padding: 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .panel-footer {
            background-color: white !important;
        }

        .panel-footer h3 {
            font-size: 32px;
        }

        .panel-footer h4 {
            color: #aaa;
            font-size: 14px;
        }

        .dropdown-toggle {
            color: #fff !important;
        }