<div *ngIf="primario">

    <div class="row">
        <div class="col-sm-2">
            <div class="container" style="margin-top: 75%;">
                <div class="col-sm-4">
                    <app-insert-measurement-unit></app-insert-measurement-unit>
                </div>

                <div class="col-sm-5">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Unidades de Medida</h3>
                        </div>
                        <div class="panel-body">


                            <ngx-table [configuration]="configuration" [detailsTemplate]="detailsTemplateRef" [data]="measurementUnits"
                                [columns]="columns">
                                <ng-template let-row>
                                    <td>
                                        <span class="font-small">{{row.name}}</span>
                                    </td>
                                    <td>
                                        <a type="submit" class="btn btn-ttc" (click)="edit(measurementUnit.id)"><img
                                                src="assets/editar.png" style="width: 30px;"></a>
                                    </td>
                                    <td>
                                        <a href="/app-insert-inventory-category" type="submit" class="btn btn-ttc"
                                            (click)="delete()"><img src="assets/basura.png" style="width: 30px;"></a>
                                    </td>
                                </ng-template>
                            </ngx-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="secundario">
    <app-update-measurement-unit [measurementUnitId]="measurementUnitId"></app-update-measurement-unit>
</div>