<div class="container-fluid">
  <div class="row content">
      <div class="col-sm-3">
      </div>

      <div class="col-sm-2"></div>
      <div class="col-sm-4">
          <br>
          <div id="pricing" class="container-fluid">
              <div class="row slideanim">
                  <div class="panel panel-default text-center">
                      <div class="panel-heading">
                          <h2>Ingresar herramienta</h2>
                      </div>
                      <div class="panel-body">
                          <h4 style="color: black; margin-left: -54%">Nombre:</h4>
                          <div class="form-group" style="width: 75%; margin-left: 15%">

                              <input type="text" class="form-control" id="id" placeholder="Nombre">
                          </div>
                          <h4 style="color: black; margin-left: -35%">Unidad de medida:</h4>
                          <div class="form-group" style="width: 75%; margin-left: 15%">
                              <input type="text" class="form-control" id="name" placeholder="Unidad de medida">
                          </div>
                          <h4 style="color: black; margin-left: -52%">Cantidad:</h4>
                          <div class="form-group" style="width: 75%; margin-left: 15%">
                              <input type="number" min="1" class="form-control" id="unit" placeholder="Cantidad">
                          </div>
                          <h4 style="color: black; margin-left: -46%">Descripción:</h4>
                          <div class="form-group" style="width: 75%; margin-left: 15%">
                              <textarea type="text" class="form-control" id="description" placeholder="Descripción de la herramienta"></textarea>
                          </div>

                          <a href="" type="submit" class="btn btn-ttc">Ingresar</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>