<div *ngIf="primario">
    <div class="row">
        <div class="col-sm-2">
            <div class="container" style="margin-top: 75%;">
                <div class="col-sm-5">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Cliente</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover" style="color: rgb(14, 14, 14); ">
                                <thead class="thead">
                                    <tr>
                                        <th>Identificador</th>
                                        <th>Nombre</th>
                                        <th>Contacto</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    <tr *ngFor="let client of clients">
                                        <td>{{client.id}}</td>
                                        <td>{{client.name}}</td>
                                        <td>{{client.contactName}}</td>
                                        <td><a type="submit" class="btn" (click)="update(client.id)"><img
                                                    src="assets/editar.png" style="width: 30px;"></a></td>
                                        <td><a type="submit" class="btn" (click)="showModal(client)"><img src="assets/basura.png"
                                                    style="width: 30px;"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="secundario">
    <app-update-client [clientIdInput]="clientId"></app-update-client>
</div>
<div *ngIf="modalDelete" class="modal fade in" role="dialog" id="gridTools" tabindex="-1" aria-labelledby="gridModalLabel"
    style="display:block;padding-right: 20px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 style="color: black; margin-left: 28%" class="modal-title" id="gridModalLabel">Eliminar Cliente</h4>
            </div>
            <div class="modal-body">
                <h4 style="color: black; margin-left: 3%">¿Está seguro que desea eliminar al cliente:  <strong>{{client.name}}</strong> ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideModal()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="aceptDelete()">Aceptar</button>
            </div>
        </div>
    </div>
</div>